.botcard {
  @include respond-to('small') {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    grid-auto-flow: column;
    grid-gap: 16px;
    width: 96%;
    max-width: 540px;
    align-items: center;
    padding: 17px 14px;
    height: 160px;

    &__container {
      display: grid;
      width: 100%;
      padding-left: 18px;
    }
    &__ptext {
      justify-self: center;
      padding: 0px 9px 0px 3px;
      align-self: center;
    }
  }
}
