.botcard {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  width: 95%;
  align-items: center;
  padding: 33px 14px;

  &__container {
    display: grid;
    width: 100%;
    padding-left: 14px;
  }
  &__ptext {
    justify-self: center;
  }
}
