.white-box {
  @include respond-to('small') {
    top: 3.3%;
    height: 72px;
    width: 179px;
    background: #ffffff;
    box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font_stack;
    justify-self: center;
    right: 0.6%;

    &__bold {
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      color: $very_dark_blue;
    }

    &__norm {
      font-weight: bold;
      font-size: 12px;
      color: hsl(229, 57%, 11%);
      opacity: 0.5;
      padding-left: 13px;
      text-transform: uppercase;
    }
  }
  @include respond-to('medium') {
    top: -241.1%;
    height: 72px;
    width: 178px;
    background: #ffffff;
    box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
    border-radius: 10px;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: $font_stack;
    justify-self: center;
    left: 26.7%;
    grid: 1fr / 1fr 1fr;

    &__bold {
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      color: #0c122c;
      padding-left: 25px;
      grid-area: 1/1;
      padding-top: 15px;
    }

    &__norm {
      font-weight: bold;
      font-size: 13px;
      color: #0c122c;
      opacity: 0.5;
      padding-left: 10px;
      padding-top: 21px;
      text-transform: uppercase;
      width: 64px;
      grid-area: 1/2;
    }

    &__triangle-topright {
      width: 0;
      height: 0;
      border-top: 48px solid white;
      border-left: 46px solid transparent;
      align-self: end;
      margin-top: -9px;
      grid-area: 2/2;
      justify-self: end;
    }
  }
}
