.card {
  display: flex;
  flex-wrap: wrap;
  background-color: $dark_blue;
  color: $pale_blue;

  &__logo {
    align-self: flex-start;
    margin: 40px 41.13px;
  }
}

//frontendmentor
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
