.topcard,
.botcard {
  background-color: $dark_blue;
  color: $pale_blue;
}

//frontendmentor
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
